.planBox{
  &>div:nth-child(2){
      &>div:nth-child(1){
        // width: 43vw;
        // height: 60vh;
        // background-color: red;
        display: flex;
        border-bottom: 30vh solid #DC0D28;
        border-top: 30vh solid transparent;
        border-left: 21.5vw solid transparent;
        border-right: 21.5vw solid #DC0D28;
        // display: none;
        &>h1{
          position: absolute;
          left: 32vw;
          top: 25vh;
          font-size: 1.8rem;
          color: #380000;
          &>span{
            font-size: 1.6rem;
            border-bottom: 1px solid #380000;
          }
        }
      }
      &>div:nth-child(2){
        width: 43vw;
        height: 60vh;
        display: none;
        flex-direction: row;
        color: #380000;
        
        &>div:nth-child(1){
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          &>h1{
            margin-left: 5vh;
            margin-top: 5vh;
          }
          &>div:nth-child(2){
            margin-top: 5vh;
            margin-left: 5vw;
            width: 15vw;
            height: 40vh;
            // border: 1px solid red;
            display: flex;
            flex-direction: row;
            &>div:nth-child(1){
              width: 1px;
              height: 100%;
              background-color: #47D184;
              display: flex;
              justify-content: center;
              position: relative;
              z-index: 2;
              &>div{
                width: 1.2vh;
                height: 1.2vh;
                background-color: #47D184;
                border-radius: 50%;
                position: absolute;
                z-index: 3;
              }
              &>div:nth-child(1){
                margin-top: 2.5vh;
              }
              &>div:nth-child(2){
                margin-top: 8vh;
              }
              &>div:nth-child(3){
                margin-top: 24.2vh;
              }
            }
            &>div:nth-child(2){
              width: 13vw;
              height: 100%;
              // border: 1px solid black;
              margin-left: 2vw;
              &>div:nth-child(1){
                margin-top: 2vh;
              }
              &>div:nth-child(2){
                margin-top: 3vh;
                &>p{
                  margin-left: 1vw;
                  margin-top: 0.5vh;
                }
              }
              &>div:nth-child(3){
                margin-top: 3vh;
                &>p{
                  margin-left: 1vw;
                  margin-top: 0.5vh;
                }
              }
            }
          }
        }
        &>div:nth-child(2){
          width: 50%;
          height: 100%;
          background-color: #DC0D28;

          // background-image: url(/image/plan/project1/light_1.jpg);
          background-size: cover;
        }
      }
      &>div:nth-child(3){
        width: 43vw;
        height: 60vh;
        // background-color: rgb(229, 255, 0);
        display: flex;
        display: none;
        flex-direction: column;
        color: #380000;

        &>div:nth-child(1){
          width: 43vw;
          height: 17vh;
          display: flex;
          padding-top: 4vh;
          padding-left: 4vw;
          padding-right: 4vw;
          display: flex;
          flex-direction: row;
          &>p{
            margin-left: 2vw;
          }
        }
        &>div:nth-child(2){
          width: 43vw;
          height: 43vh;
          // border: 1px solid red;
          background-color: rgba(220, 13, 40,0.3);
          background-color: #47D184;

          display: flex;
          align-items: center;
          justify-content: center;
          &>div{
            width: 30vw;
            height: 30vh;
            // border: 1px solid #fff;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            padding: 3vh;
            font-size: 0.7rem;
          background-color: rgba(220, 13, 40,0.3);

            &>h3{
              color: #fff;
              width: 27vw;
              height: 5vh;
            }
            &>div{
              width: 23vw;
              height: 18vh;
              // border: 1px solid #fff;
          background-color: rgba(220, 13, 40,0.3);

              padding: 3vh;
              display: flex;
              align-items: flex-end;
              justify-content: flex-end;
              flex-direction: column;
              &>h3{
                width: 20vw;
                height: 5vh;
                color: #fff;
                // border: 1px solid black;
              }
              &>div{
                width: 17vw;
                height: 10vh;
                background-color: rgba(220, 13, 40,0.2);

                // border: 1px solid #fff;
                &>h3{
                  color: #fff;
                  margin-top: 1vh;
                  margin-left: 1vw;
                }
              }
            }
          }
        }
        &>div:nth-child(3){
          width: 43vw;
          height: 5vh;
          position: absolute;
          bottom: 20vh;
          // border: 1px solid red;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          &>p{
            color: #380000;
            margin-left: 1.5vw;
            margin-right: 1.5vw;
            margin-bottom: 1vh;
          }
        }
      }
      &>div:nth-child(4){
        width: 43vw;
        height: 60vh;
        display: flex;
        display: none;
        flex-direction: column;
        background-color: #47D184;
        &>div:nth-child(1){
          width: 43vw;
          height: 17vh;
          // border: 1px solid rgb(104, 50, 50);
          display: flex;
          padding-top: 4vh;
          padding-left: 4vw;
          padding-right: 4vw;
          display: flex;
          flex-direction: row;
          &>h3{
            width: 12vw;
            color: #fff;
          }
          &>p{
            margin-left: 2vw;
            color: #fff;
          }
        }
        
        &>div:nth-child(2){
          width: 43vw;
          height: 43vh;
          display: flex;
          align-items: center;
          justify-content: center;
          // border: 1px solid red;
          &>div:nth-child(1){
            position: relative;
            position: absolute;
            top: 40vh;
            width: 23.5vw;
            display: flex;
            justify-content: space-between;
            &>p{
              color: #fff;
            }
          }
          &>div:nth-child(2){
            width: 30vh;
            height: 30vh;
            border-radius: 50%;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            &>p{
              color: #fff;
            }
          }
          &>div:nth-child(3){
            width:1px;
            height: 30vh;
            background-color: #fff;
            margin-left: 3vw;
            margin-right: 3vw;
          }
          &>div:nth-child(4){
            width: 30vh;
            height: 30vh;
            border-radius: 50%;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            &>p{
              color: #fff;
            }
          }
        }
        &>div:nth-child(3){
          width: 43vw;
          height: 5vh;
          position: absolute;
          bottom: 20vh;
          // border: 1px solid red;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          &>p{
            color: #380000;
            margin-left: 1.5vw;
            margin-right: 1.5vw;
            margin-bottom: 1vh;
          }
        }
      }
      &>div:nth-child(5){
        width: 43vw;
          height: 60vh;
          display: flex;
          display: none;
          flex-direction: column;
          &>div:nth-child(1){
            width: 43vw;
            height: 17vh;
            // border: 1px solid rgb(104, 50, 50);
            display: flex;
            padding-top: 4vh;
            padding-left: 4vw;
            padding-right: 4vw;
            &>h3{
              width: 12vw;
              color: #380000;
            }
            &>p{
              margin-left: 2vw;
              color: #380000;
            }
          }
          &>div:nth-child(2){
            width: 43vw;
            height: 43vh;
            // border: 1px solid red;
            background-color: #47D184;
            display: flex;
            align-items: center;
            justify-content: center;
            &>div{
              display: flex;
              flex-direction: column;
              align-items: center;
              color: #fff;
              margin: 5vh;
              &>p{
                color: #fff;
                margin-top: 1vh;
                text-align: center;
              }
            }
          }
          &>div:nth-child(3){
            width: 43vw;
            height: 5vh;
            position: absolute;
            bottom: 20vh;
            // border: 1px solid red;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &>p{
              color: #380000;
              margin-left: 1.5vw;
              margin-right: 1.5vw;
              margin-bottom: 1vh;
            }
          }
      }
      &>div:nth-child(6){
        width: 43vw;
        height: 60vh;
        display: flex;
        display: none;
        flex-direction: column;
        &>div:nth-child(1){
          width: 43vw;
          height: 17vh;
          display: flex;
          padding-top: 4vh;
          padding-left: 4vw;
          padding-right: 4vw;
          display: flex;
          flex-direction: row;
          &>h3{
            width: 12vw;
            color: #380000;
          }
        }
        &>div:nth-child(2){
          background-color: #47D184;
          width: 43vw;
          height: 43vh;
          display: flex;
          flex-direction: row;
          // align-items: center;
          justify-content: center;
          &>div{
            margin-top: 12vh;
            margin-left: 0.7vw;
            margin-right: 0.7vw;
            &>h3{
              color: #fff;
              margin-bottom: 1vh;
            }
            &>p{
              margin-bottom: 1vh;
              color: #fff;

            }
          }
          &>div:nth-child(2){
            width: 2vw;
            height: 1vh;
            &>img{
              width: 80%;
            }
          }
          &>div:nth-child(4){
            width: 2vw;
            height: 1vh;
            &>img{
              width: 80%;
            }
          }
        }
        &>div:nth-child(3){
          width: 43vw;
          height: 5vh;
          position: absolute;
          bottom: 20vh;
          // border: 1px solid red;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          &>p{
            color: #380000;
            margin-left: 1.5vw;
            margin-right: 1.5vw;
            margin-bottom: 1vh;
          }
        }
      }
      &>div:nth-child(7){
        width: 43vw;
        height: 60vh;
        display: flex;
        display: none;
        flex-direction: column;
        background-image: url(/Code/image/plan/project2/mixbg.png);
        background-size: cover;
        &>div:nth-child(1){
          width: 43vw;
          height: 17vh;
          // border: 1px solid rgb(104, 50, 50);
          display: flex;
          padding-top: 4vh;
          padding-left: 4vw;
          padding-right: 4vw;
          display: flex;
          flex-direction: row;
          &>h3{
            width: 12vw;
            color: #fff;
          }
          &>p{
            margin-left: 2vw;
            color: #fff;
          }
        }
        &>div:nth-child(2){
          width: 43vw;
          height: 43vh;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          &>div:nth-child(1){
            width: 27vh;
            height: 27vh;
            border-radius: 50%;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
          }
          &>div:nth-child(2){
            margin-left: 1.5vw;
            margin-right: 1.5vw;
          }
          &>div:nth-child(3){
            width: 27vh;
            height: 27vh;
            border-radius: 50%;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;

          }
        }
        &>div:nth-child(3){
          width: 43vw;
          height: 5vh;
          position: absolute;
          bottom: 20vh;
          // border: 1px solid red;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          &>p{
            color: #1B4158;
            margin-left: 1.5vw;
            margin-right: 1.5vw;
            margin-bottom: 1vh;
          }
        }
      }
      &>div:nth-child(8){
        width: 43vw;
        height: 60vh;
        display: flex;
        display: none;
        flex-direction: column;
        &>div:nth-child(1){
          width: 43vw;
          height: 60vh;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #81A6C0;

          &>img{
            width: 110%;
            // height: 100%;
          }
        }
        &>div:nth-child(2){
          width: 43vw;
          height: 5vh;
          position: absolute;
          bottom: 20vh;
          // border: 1px solid red;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          &>p{
            color: #1B4158;
            margin-left: 1.5vw;
            margin-right: 1.5vw;
            margin-bottom: 1vh;
          }
        }
      }
    }
  }