
*{margin: 0; padding: 0; 
  box-sizing: border-box;
}
body{
  background: linear-gradient(to top, #fff4de, #f1e2c3);
  display: flex;
  flex-direction: row;
}
header{
  width: 100vw;
  height: 10vh;
  // border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  left: 0;
  // border: 1px solid red;
  z-index: 5;
  &>nav{
    width: 90vw;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &>#title{
      font-size: 2rem;
      display: flex;
      align-items: center;
      // border: 1px solid green;
    }
    &>#title:hover{
      cursor: pointer;
    }
    &>ul{
      width: 30vw;
      // border: 1px solid blue;
      display: flex;
      list-style: none;
      justify-content: space-between;
      &>li{
        font-size: 1.2rem;
      }
      &>li:hover{
        cursor: pointer;
      }
    }
  }
}

#root{
  height: 100vh;
  // border: 1px solid black;
  // overflow: hidden;
  display: flex;
  flex-direction: row;
}

body{
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#floor{
  // border: 1px solid green;
  height: 20vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  // overflow: hidden;
  z-index: 5;

  &>div:nth-child(1){
    height: 1.5vh;
    background-color:var(--color-6);
  }
  &>div:nth-child(2){
    height: 3.5vh;
    background: linear-gradient(to top, #f0e2c2, #f2dfbd);
  }
  &>div:nth-child(3){
    height: 15vh;
    background-color: var(--color-2);
    background: linear-gradient(to top, #f2af5e, #ec974d);
  }
}



