* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #fff4de, #f1e2c3);
  display: flex;
  flex-direction: row;
}

header {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  left: 0;
  z-index: 5;
}
header > nav {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > nav > #title {
  height: 4vh;
  display: flex;
  align-items: center;
}
header > nav > #title > img {
  height: 100%;
}
header > nav > #title:hover {
  cursor: pointer;
}
header > nav > ul {
  width: 30vw;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
header > nav > ul > li {
  font-size: 1.2rem;
}
header > nav > ul > li:hover {
  cursor: pointer;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#floor {
  height: 20vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 5;
}
#floor > div:nth-child(1) {
  height: 1.5vh;
  background-color: var(--color-6);
}
#floor > div:nth-child(2) {
  height: 3.5vh;
  background: linear-gradient(to top, #f0e2c2, #f2dfbd);
}
#floor > div:nth-child(3) {
  height: 15vh;
  background-color: var(--color-2);
  background: linear-gradient(to top, #f2af5e, #ec974d);
}

#wheelBtn {
  width: 100vw;
  position: fixed;
  bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  -webkit-animation: 5s wheelcolor infinite;
          animation: 5s wheelcolor infinite;
}
#wheelBtn > div:nth-child(1) {
  height: 5vh;
  display: flex;
  -webkit-animation: 15s rotatemove infinite;
          animation: 15s rotatemove infinite;
}
#wheelBtn > div:nth-child(1) > img {
  height: 100%;
}
#wheelBtn > div:nth-child(2) {
  height: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-animation: 20s opacity infinite;
          animation: 20s opacity infinite;
}
#wheelBtn > div:nth-child(2) > div:nth-child(1) {
  position: relative;
  -webkit-animation: 2.5s wheelmove1 infinite;
          animation: 2.5s wheelmove1 infinite;
}
#wheelBtn > div:nth-child(2) > div:nth-child(2) {
  position: absolute;
  -webkit-animation: 2.5s wheelmove2 infinite;
          animation: 2.5s wheelmove2 infinite;
}

.wheel {
  width: 30px;
  height: 30px;
  position: relative;
}

.wheel::before, .wheel::after {
  content: "";
  position: absolute;
}

.wheel::before {
  width: 30%;
  height: 30%;
  border: 1px solid #81A6C0;
  border-right: 0;
  border-bottom: 0;
}

@-webkit-keyframes wheelcolor {
  0% {
    filter: invert(0%);
  }
  50% {
    filter: invert(50%);
  }
  100% {
    filter: invert(0%);
  }
}

@keyframes wheelcolor {
  0% {
    filter: invert(0%);
  }
  50% {
    filter: invert(50%);
  }
  100% {
    filter: invert(0%);
  }
}
@-webkit-keyframes opacity {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotatemove {
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
    margin-left: 0;
  }
  25% {
    margin-left: 2vw;
  }
  30% {
    margin-left: -2vw;
  }
  35% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(0deg);
    margin-left: 0;
  }
}
@keyframes rotatemove {
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
    margin-left: 0;
  }
  25% {
    margin-left: 2vw;
  }
  30% {
    margin-left: -2vw;
  }
  35% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(0deg);
    margin-left: 0;
  }
}
@-webkit-keyframes wheelmove1 {
  0% {
    margin-right: 1vw;
  }
  50% {
    margin-right: 0.5vw;
  }
  100% {
    margin-right: 1vw;
  }
}
@keyframes wheelmove1 {
  0% {
    margin-right: 1vw;
  }
  50% {
    margin-right: 0.5vw;
  }
  100% {
    margin-right: 1vw;
  }
}
@-webkit-keyframes wheelmove2 {
  0% {
    margin-left: 1vw;
  }
  50% {
    margin-left: 0.5vw;
  }
  100% {
    margin-left: 1vw;
  }
}
@keyframes wheelmove2 {
  0% {
    margin-left: 1vw;
  }
  50% {
    margin-left: 0.5vw;
  }
  100% {
    margin-left: 1vw;
  }
}
.wheel--left {
  transform: rotate(-45deg);
}

.wheel--right {
  transform: rotate(135deg);
}/*# sourceMappingURL=mainfull.css.map */