#page4{
  // border: 1px solid red;
  width: 100vw;
  height: 100vh;
  // background-color: rgb(87, 87, 87);
  margin-left: 30vw;
  // margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &>section{
    width: 60vw;
    z-index: 2;
    margin-top: 5vh;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    &>img{
      position: relative;
      width: 100%;
      z-index: 2;
      filter: drop-shadow(5px 5px 0px rgba(99, 40, 0, 0.5)); /*그림자*/
      
    }
    &>div:nth-child(2){
      // border: 1px solid blue;
      position:absolute;
      z-index: 3;
      width: 50vw;
      height: 27vh;
      margin-left: 2vw;
      display: flex;
      justify-content: space-between;
      &>div:nth-child(1){
        height: 27vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &>div:nth-child(1){
          color: #EECFAE;
          &>h1{
            font-family: 'GowunDodum-Regular';
            font-weight: 200;
          }
          &>p{
            color: #EECFAE;
          }
        }
        &>div:nth-child(2){
          color: #EECFAE;
          color: var(--textcolor-1);
          &>p{
            color: #EECFAE;
          }
        }
      }
      &>div:nth-child(2){
        width: 15vw;
        height: 27vh;
        // background-color: #c4c4c4;
        &>h2{
          font-weight: 600;
          font-family: 'lora';
          color: var(--textcolor-1);
        }
        &>P{
          margin-top: 2vh;
          line-height: 2.5vh;
          font-family: 'lora';
        }
        &>#QR{
          width: 7vh;
          height: 7vh;
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: aqua;
        }
      }
    }
  }
}
#page4Bg{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display:flex ;
  align-items: center;
  position: absolute;

  right: 0;

  &>img{
    position:absolute;
    height: 100%;
    right: 0;
    //위치잡는건 자바스크립트로 처리(전체 폭이 유동적이라 추상화가 필요했다)
  }
}
