main{
  display: flex;
  flex-direction: row;
}

#page1{
  overflow: hidden;
}


.container{
  // border: 1px solid rgb(187, 0, 0);
  height: 100vh;
  width: 90vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  perspective-origin: center;
  perspective: 500px;
  // perspective-origin:10%;
  //이거 조절로 시점 돌아간다
  position: relative;
  z-index: 1;
}
.box {
  margin-top: 5vh;
  width: 55vw;
  height: 55vh;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(150px);
  // border: 1px solid rgb(13, 206, 100);
  //깊이 축
}
.box-face{
  position: absolute;
  // width: 2400px;
  // height: 2400px;
  width: 800px;
  height: 800px;
  // height: 55vh;
  // border: 1px solid rgb(0, 255, 34);
  
  perspective-origin: center;
}

.box-front{
  // background-color: rgba(255, 200, 200, 0.7);
  transform: rotateY(0deg) 
  translateZ(400px) ;
  // width: 1600px;
  // width: 55vw;
  // height:55vh;
}
.box-right{
  background-color: rgb(255, 0, 157);
  transform: rotateY(90deg) translateZ(400px) ;
  height: 55vh;
  // width: 30vw;

  right: 0;
  // left: 70%;
}
.box-back{
  background-color: rgba(7, 7, 7, 1);
  transform: rotateY(180deg) translateZ(400px) ;
  // width: 1600px;
  width: 55vw;
  height: 55vh;
  border: 1px solid #272727;
  // height: 800px;
  // left: 800px;
  
}
.box-left{
  background-color: #D94B19;
  transform: rotateY(-90deg) translateZ(400px) ;
  // left: 800px;
  height: 55vh;
  // width: 30vw;
}
.box-top{
  // background-color: rgba(255, 0, 234, 0.7);
  transform: rotateX(90deg) translateZ(400px) ;
  // width: 3200px;
  width: 55vw;
  // height: 800px;
}
.box-bottom{
  // background-color: rgba(0, 255, 234, 0.7);
  transform: rotateX(-90deg) translateZ(400px) ;
  // width: 1600px;
  width: 55vw;
  // height: 800px;
  bottom: 0;
}


#wall{
  width: 40vw;
  background-color: #F1E2C3;
  height: 55vh;
  border: 1px solid black;
  margin-top: 25vh;
  z-index: 1;
  display: flex;
  position: relative;
  &>h1{
    font-size: 3rem;
    display: flex;
    // border: 1px solid red;
    display: flex;
    margin-top: 30vh;
    margin-left: 5vw;
  }
}
