@charset "UTF-8";
#page3 {
  width: 150vw;
  height: 100vh;
  margin-left: 40vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#page3 > section:nth-child(1) {
  height: 45vh;
  display: flex;
  flex-direction: row;
}
#page3 > section:nth-child(1) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10vw;
}
#page3 > section:nth-child(1) > div:nth-child(1) > h1 {
  font-size: 4rem;
  margin-bottom: 2vh;
  color: var(--textcolor-1);
  font-weight: 200;
}
#page3 > section:nth-child(1) > div:nth-child(1) > p {
  font-size: 1rem;
  text-align: justify;
}
#page3 > section:nth-child(1) > ul {
  width: 100vw;
  margin-left: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#page3 > section:nth-child(1) > ul > li {
  width: 18vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#page3 > section:nth-child(1) > ul > li > div:nth-child(1) {
  width: 100%;
  display: flex;
  position: relative;
  box-shadow: 10px 10px 0px 0px rgba(99, 40, 0, 0.5);
}
#page3 > section:nth-child(1) > ul > li > div:nth-child(2) {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 85.5%;
  height: 89%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#page3 > section:nth-child(1) > ul > li > div:nth-child(2) > h1 {
  color: var(--color-6);
}
#page3 > section:nth-child(1) > ul > li > div:nth-child(2) > p {
  margin-top: 2vh;
  color: var(--color-6);
  text-align: center;
  font-size: 2vh;
}
#page3 > section:nth-child(1) > ul > li > div:nth-child(3) {
  position: absolute;
  z-index: 1;
  width: 85.5%;
  height: 89%;
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#page3 > section:nth-child(1) > ul > li > div:nth-child(3) > img {
  width: 100%;
}
#page3 > section:nth-child(1) > ul > li:hover {
  cursor: pointer;
}
#page3 > section:nth-child(2) {
  height: 0vh;
  width: 150vw;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
#page3 > section:nth-child(2) > div:nth-child(1) {
  height: 1.5vh;
  background-color: var(--color-6);
}
#page3 > section:nth-child(2) > div:nth-child(2) {
  height: 3.5vh;
  background-color: var(--color-3);
}
#page3 > section:nth-child(2) > div:nth-child(3) {
  height: 15vh;
  background-color: var(--color-2);
  bottom: 0;
}

#popups {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.popup {
  display: flex;
  display: none;
  flex-direction: row;
}
.popup > section:nth-child(1) {
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.popup > section:nth-child(1) > img {
  height: 100%;
  box-shadow: 10px 10px 0px 0px rgba(99, 40, 0, 0.5);
}
.popup > section:nth-child(1) > div {
  position: absolute;
  width: 85%;
  height: 88.5%;
  background-color: rgb(102, 255, 135);
}
.popup > section:nth-child(2) {
  width: 40vw;
  height: 45vh;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.popup > section:nth-child(2) > .bookshelf {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup > section:nth-child(2) > .bookshelf > .books {
  display: flex;
}
.popup > section:nth-child(2) > .bookshelf > .books > div:nth-child(1) {
  width: 5vw;
  margin-right: 3vw;
  display: flex;
  align-items: flex-end;
  bottom: 0vh;
}
.popup > section:nth-child(2) > .bookshelf > .books > div:nth-child(1) > img {
  width: 100%;
}
.popup > section:nth-child(2) > .bookshelf > .books > div:nth-child(2) {
  width: 5vw;
  display: flex;
  align-items: flex-end;
  bottom: 0vh;
}
.popup > section:nth-child(2) > .bookshelf > .books > div:nth-child(2) > img {
  width: 100%;
}
.popup > section:nth-child(2) > .bookshelf > div:nth-child(2) {
  width: 24vw;
  display: flex;
  justify-content: flex-start;
}
.popup > section:nth-child(2) > .bookshelf > div:nth-child(2) > img {
  width: 100%;
}
.popup > section:nth-child(2) > div:nth-child(2) {
  margin-top: 3vh;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup > section:nth-child(2) > div:nth-child(2) > img {
  width: 100%;
  filter: drop-shadow(3px 3px 0px rgba(99, 40, 0, 0.6));
}
.popup > section:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  width: 35vw;
  height: 20vh;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.popup > section:nth-child(2) > div:nth-child(2) > div:nth-child(2) > h1 {
  color: var(--textcolor-1);
  font-family: "GowunDodum-Regular";
}
.popup > section:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  margin-top: 1vh;
}
.popup > section:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > p:nth-child(2) {
  font-size: 0.9rem;
  margin-top: -0.5vh;
}
.popup > section:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
  margin-top: 1vh;
}
.popup > section:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) > p:nth-child(2) {
  line-height: 2.5vh;
  font-size: 0.9rem;
}

#esc {
  width: 10vh;
  position: absolute;
  bottom: 23vh;
  right: 10vw;
}
#esc > img {
  -webkit-animation: 1.5s contrast infinite;
          animation: 1.5s contrast infinite;
  width: 100%;
}

#esc:hover {
  cursor: pointer;
  filter: contrast(200%);
}

@-webkit-keyframes contrast {
  20% {
    filter: contrast(200%);
  }
}

@keyframes contrast {
  20% {
    filter: contrast(200%);
  }
}
.plans {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
.plans > .planEsc {
  position: absolute;
  right: 25vw;
  top: 10vh;
  display: inline-block;
  display: inline;
}
.plans > .planEsc::after {
  display: inline-block;
  content: "×";
  font-size: 4rem;
  color: var(--color-6);
}
.plans .planEsc:hover {
  cursor: pointer;
}
.plans > :nth-child(2) {
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.plans > :nth-child(2) > .planBox {
  width: 43vw;
  height: 60vh;
  background-color: #fff;
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
}
.plans > :nth-child(2) > .planBox > .plan {
  display: none;
}
.plans > :nth-child(2) > .planBox > .plan:nth-child(1) > div:nth-child(1) {
  width: 43vw;
  height: 60vh;
  background-color: red;
  display: flex;
}
.plans > :nth-child(2) > .planBox > .plan:nth-child(1) > div:nth-child(2) {
  width: 43vw;
  height: 60vh;
  background-color: rgb(255, 166, 0);
  display: none;
}
.plans > :nth-child(2) > .planBox > .plan:nth-child(1) > div:nth-child(3) {
  width: 43vw;
  height: 60vh;
  background-color: rgb(229, 255, 0);
  display: flex;
  display: none;
}
.plans > :nth-child(2) > .planBox > .plan:nth-child(1) > div:nth-child(4) {
  width: 43vw;
  height: 60vh;
  background-color: rgb(102, 255, 0);
  display: flex;
  display: none;
}
.plans > :nth-child(2) > .planBox > .plan:nth-child(1) > div:nth-child(5) {
  width: 43vw;
  height: 60vh;
  background-color: rgb(0, 110, 255);
  display: flex;
  display: none;
}
.plans > :nth-child(2) > .planBox > .plan:nth-child(1) > div:nth-child(6) {
  width: 43vw;
  height: 60vh;
  background-color: rgb(140, 0, 255);
  display: flex;
  display: none;
}
.plans > :nth-child(2) > .planLBtn {
  width: 5vh;
  height: 5vh;
  position: relative;
}
.plans > :nth-child(2) > .planLBtn {
  left: 0;
  top: 0;
  content: "";
  width: 3vh;
  height: 3vh;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(225deg);
}
.plans > :nth-child(2) > .planRBtn {
  width: 5vh;
  height: 5vh;
  position: relative;
}
.plans > :nth-child(2) > .planRBtn {
  left: 0;
  top: 0;
  content: "";
  width: 3vh;
  height: 3vh;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}
.plans > :nth-child(2) > .planLBtn:hover {
  cursor: pointer;
}
.plans > :nth-child(2) > .planRBtn:hover {
  cursor: pointer;
}

.codeBook {
  transition: 0.2s;
}

.codeBook:hover {
  cursor: pointer;
  margin-bottom: 1vh;
}

.planBook {
  transition: 0.2s;
}

.planBook:hover {
  cursor: pointer;
  margin-bottom: 1vh;
}

.gowun {
  font-family: "GowunDodum-Regular";
}/*# sourceMappingURL=page3.css.map */